header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px; }
  header .LogoWeb {
    margin-bottom: 30px; }

.navbar-nav {
  font-family: Gotham, Helvetica, Verdana, Sans Serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem; }

#nav-pag {
  color: #73A950;
  text-decoration-line: none;
  transition: 0.5s; }

#nav-pag:hover {
  color: #A02140;
  text-decoration-line: none; }

#nav-pag-active {
  color: #A02140;
  font-weight: bold;
  text-decoration-line: none; }

#nav-pag-active:hover {
  color: #A02140;
  text-decoration-line: none; }

section {
  background-image: url(imagenes/fondo2.png);
  font-family: Gotham, Helvetica, Verdana, Sans Serif; }

/*FRANJAS*/
.franja__conteiner .franja__imagen {
  width: 100%;
  height: 100%; }

.franja__conteiner .franja__caja {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: relative;
  bottom: 270px; }
  .franja__conteiner .franja__caja .franja__titulo {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 3px; }

/*INDEX*/
.TituloInicio {
  display: flex;
  justify-content: center;
  color: #A02140;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold; }
  .TituloInicio h1 {
    width: 80%; }

.TextoInicio {
  display: flex;
  justify-content: center;
  color: #646467;
  font-size: 1.5rem;
  text-align: center;
  width: 100%; }
  .TextoInicio p {
    width: 80%; }

.Index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "participantes escuelas voluntarios";
  justify-content: space-around; }
  .Index .Index__flex {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Index .Index__flex .Index__flex--participantes {
      grid-area: participantes; }
    .Index .Index__flex .Index__flex--escuelas {
      grid-area: escuelas; }
    .Index .Index__flex .Index__flex--voluntarios {
      grid-area: voluntarios; }
    .Index .Index__flex .Index__caja {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: beige;
      width: 300px;
      text-align: center;
      font-size: 1rem;
      line-height: 1.6;
      padding-bottom: 20px;
      color: #646467; }
      .Index .Index__flex .Index__caja .Index__titulo {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 3px;
        color: #646467;
        padding-bottom: 15px;
        padding-top: 15px; }
      .Index .Index__flex .Index__caja .Index__SubTitulo {
        font-size: 1rem;
        font-weight: bold;
        display: inline;
        line-height: 1.8;
        color: #646467;
        padding-bottom: 15px; }
      .Index .Index__flex .Index__caja .Index__texto {
        width: 90%; }

/*SOBRE NOSOTROS*/
.FranjaSN {
  width: 100%;
  height: 500px;
  display: inline-block; }
  .FranjaSN .FranjaSN__imagen {
    width: 100%;
    height: 500px; }
  .FranjaSN .FranjaSN__titulo {
    width: 500px;
    height: 60px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 300px;
    left: 120px;
    letter-spacing: 3px; }
  .FranjaSN .FranjaSN__CajaLateral {
    width: 35%;
    height: 100%;
    float: right;
    position: relative;
    bottom: 560px;
    background-color: rgba(255, 255, 255, 0.8); }
    .FranjaSN .FranjaSN__CajaLateral .FranjaSN__SubTitulo {
      font-size: 2.5rem;
      font-weight: bold;
      color: #646467;
      text-align: center;
      letter-spacing: 3px;
      padding: 0px;
      margin-top: 20px; }
    .FranjaSN .FranjaSN__CajaLateral .FranjaSN__SubTitulo--color {
      color: #A02140;
      margin-top: 0px; }
    .FranjaSN .FranjaSN__CajaLateral .FranjaSN__texto {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      line-height: 1.5;
      text-align: center; }
      .FranjaSN .FranjaSN__CajaLateral .FranjaSN__texto p {
        width: 75%; }

.TituloSN {
  color: #646467;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px; }

.ParticipantesSN {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .ParticipantesSN .ParticipantesSN__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    width: 80%; }
    .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas {
      height: 450px; }
      .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__imagen {
        width: 280px;
        height: 350px; }
      .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__texto {
        display: inline-block;
        background-color: white;
        border: solid 0.5px;
        width: 90%;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.5;
        font-weight: lighter;
        color: #gris;
        position: relative;
        bottom: 80px;
        left: 13.5px; }
        .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__texto .ParticipantesSN__titulo {
          font-size: 1.4rem;
          letter-spacing: 2px;
          font-weight: normal;
          color: #646467; }
        .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__texto .ParticipantesSN__titulo--CdC {
          letter-spacing: 1px; }

/*RECURSOS*/
.TituloRecursos {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  color: #646467; }
  .TituloRecursos p {
    width: 80%; }

.descarga__conteiner {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "imagen caja";
  justify-items: center;
  align-items: center; }
  .descarga__conteiner .descarga__conteiner--regdin {
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imagen caja caja"; }
  .descarga__conteiner .descarga__ImagenRegDin {
    display: inline-block;
    grid-area: imagen; }
  .descarga__conteiner .descarga__CajaRegDin {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 700px;
    grid-area: caja; }
  .descarga__conteiner .descarga__ImagenTopicos {
    display: inline-block;
    grid-area: imagen; }
  .descarga__conteiner .descarga__CajaTopicos {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 400px;
    grid-area: caja; }
    .descarga__conteiner .descarga__CajaTopicos .descarga__CajaTopicos--width {
      width: 100px; }
    .descarga__conteiner .descarga__CajaTopicos .descarga__Topicos {
      font-size: 2rem;
      font-weight: bold;
      color: #646467; }

.btn-reg {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #E15829;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  transition: 0.5s; }

.btn-reg:hover {
  background-color: white;
  color: #E15829;
  border: solid #E15829 3px; }

.btn-din {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #FFB819;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  transition: 0.5s; }

.btn-din:hover {
  background-color: white;
  color: #FFB819;
  border: solid #FFB819 3px; }

.btn-topico {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #73A950;
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  border: none;
  transition: 0.5s; }

.btn-topico:hover {
  background-color: white;
  color: #73A950;
  border: solid #73A950 3px; }

.btn-verde {
  background-color: #73A950;
  margin-left: 20px;
  color: white; }

.btn-verde:hover {
  background-color: white;
  color: #73A950;
  border: solid #73A950; }

.btn-bordo {
  background-color: #A02140;
  margin-left: 20px;
  color: white; }

.btn-bordo:hover {
  background-color: white;
  color: #A02140;
  border: solid #A02140; }

.btn-amarillo {
  background-color: #FFB819;
  color: white;
  margin-left: 20px; }

.btn-amarillo:hover {
  background-color: white;
  color: #FFB819;
  border: solid #FFB819; }

.btn-naranja {
  background-color: #E15829;
  color: white;
  margin-left: 20px; }

.btn-naranja:hover {
  background-color: white;
  color: #E15829;
  border: solid #E15829; }

.btn-celeste {
  background-color: #61B4E4;
  margin-left: 20px;
  border: none;
  color: white; }

.btn-celeste:hover {
  background-color: white;
  color: #61B4E4;
  border: solid #61B4E4; }

.btn-gris {
  background-color: #646467;
  margin-left: 20px;
  color: white; }

.btn-gris:hover {
  background-color: white;
  color: #646467;
  border: solid #646467; }

/*CONTACTO*/
.contacto {
  margin-bottom: 80px; }
  .contacto .contacto__conteiner {
    display: flex;
    justify-content: center;
    align-items: center; }
    .contacto .contacto__conteiner .contacto__caja {
      display: inline-flex;
      justify-content: space-around;
      width: 90%;
      align-items: center; }
      .contacto .contacto__conteiner .contacto__caja .contacto__mapa .contacto__MapaUbicacion--chico {
        display: none; }
      .contacto .contacto__conteiner .contacto__caja .contacto__formulario {
        text-align: center;
        font-size: 1rem;
        color: #646467; }
        .contacto .contacto__conteiner .contacto__caja .contacto__formulario .contacto__titulo {
          font-weight: bold;
          font-size: 2rem;
          color: #646467; }

.datos {
  margin-bottom: 20px; }
  .datos .datos__conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .datos .datos__conteiner .datos__caja {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 75%; }
      .datos .datos__conteiner .datos__caja .datos__informacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
        line-height: 1.6; }
        .datos .datos__conteiner .datos__caja .datos__informacion .datos__informacion--telefono {
          width: 84px;
          height: 84px; }
        .datos .datos__conteiner .datos__caja .datos__informacion .datos__informacion--ubicacion {
          width: 58px;
          height: 84px; }
        .datos .datos__conteiner .datos__caja .datos__informacion .datos__informacion--correo {
          width: 84px;
          height: 54px; }
        .datos .datos__conteiner .datos__caja .datos__informacion div {
          padding-bottom: 30px; }

footer {
  font-family: Gotham, Helvetica, Verdana, Sans Serif;
  color: white;
  background-image: linear-gradient(to bottom, #2F2E2E, #121111); }

.footer__conteiner {
  display: flex;
  justify-content: center; }
  .footer__conteiner .footer__caja {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "redes contacto" "InfoRedes InfoContacto";
    justify-items: center;
    width: 80%; }
    .footer__conteiner .footer__caja #Redes {
      grid-area: redes; }
    .footer__conteiner .footer__caja #Contacto {
      grid-area: contacto; }
    .footer__conteiner .footer__caja #InfoRedes {
      grid-area: InfoRedes; }
    .footer__conteiner .footer__caja #InfoContacto {
      grid-area: InfoContacto;
      text-align: center; }
    .footer__conteiner .footer__caja .footer__titulos {
      font-weight: bold;
      font-size: 1.5rem; }
    .footer__conteiner .footer__caja .footer__informacion {
      font-size: 1.2rem;
      line-height: 3.0; }
      .footer__conteiner .footer__caja .footer__informacion .footer__links {
        color: white;
        text-decoration-line: none;
        padding: 4px;
        border-radius: 2px;
        transition: 0.5s; }
      .footer__conteiner .footer__caja .footer__informacion .footer__links:hover {
        text-decoration-line: none;
        font-weight: bold;
        color: black;
        background-color: white; }
      .footer__conteiner .footer__caja .footer__informacion .footer__logos {
        margin-right: 10px; }

@media screen and (max-width: 768px) {
  .footer__conteiner .footer__caja {
    width: 95%; }
    .footer__conteiner .footer__caja .footer__titulos {
      font-size: 1.2rem; }
    .footer__conteiner .footer__caja .footer__informacion {
      font-size: 0.8rem;
      line-height: 2.5;
      text-align: center; }
      .footer__conteiner .footer__caja .footer__informacion .footer__logos {
        display: none; } }

@media screen and (max-width: 768px) {
  /* HEADER */
  .LogoWeb {
    width: 50%;
    height: 50%; }
  /*FRANJAS*/
  .franja__conteiner .franja__imagen {
    width: 100%;
    height: 100%; }
  .franja__conteiner .franja__caja {
    bottom: 105px; }
    .franja__conteiner .franja__caja .franja__titulo {
      font-size: 2rem; }
  /* INDEX */
  .TituloInicio {
    font-size: 2rem; }
    .TituloInicio h1 {
      width: 80%; }
  .TextoInicio {
    font-size: 1.2rem; }
    .TextoInicio p {
      width: 95%; }
  .Index {
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "participantes" "escuelas" "voluntarios"; }
    .Index .Index__flex {
      flex-direction: row; }
      .Index .Index__flex .Index__imagen {
        width: 180px;
        height: 120px; }
      .Index .Index__flex .Index__caja {
        width: 180px;
        height: 120px;
        font-size: 0.6rem;
        justify-content: space-between; }
        .Index .Index__flex .Index__caja .Index__titulo {
          font-size: 1rem;
          padding-bottom: 0px; }
        .Index .Index__flex .Index__caja .Index__SubTitulo {
          font-size: 0.8rem;
          padding-bottom: 0px; }
        .Index .Index__flex .Index__caja .Index__texto {
          width: 80%; }
  /*SOBRE NOSOTROS*/
  .FranjaSN {
    height: 200px; }
    .FranjaSN .FranjaSN__imagen {
      height: 200px; }
    .FranjaSN .FranjaSN__titulo {
      width: 100%;
      height: 30px;
      font-size: 1.2rem;
      bottom: 180px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.5); }
    .FranjaSN .FranjaSN__CajaLateral {
      width: 100%;
      height: 70%;
      float: none;
      bottom: 170px; }
      .FranjaSN .FranjaSN__CajaLateral .FranjaSN__SubTitulo {
        display: inline;
        font-size: 1.2rem;
        padding: 0px;
        margin-top: 0px;
        position: relative;
        left: 60px;
        top: 5px; }
      .FranjaSN .FranjaSN__CajaLateral .FranjaSN__texto {
        font-size: 0.6rem;
        padding-top: 8px; }
        .FranjaSN .FranjaSN__CajaLateral .FranjaSN__texto p {
          width: 95%; }
  .TituloSN {
    color: #646467;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 0px; }
  .ParticipantesSN {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    .ParticipantesSN .ParticipantesSN__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-items: center;
      width: 95%; }
      .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas {
        height: 300px; }
        .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__imagen {
          width: 168px;
          height: 210px; }
        .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__texto {
          display: inline-block;
          background-color: white;
          border: solid 0.5px;
          width: 90%;
          padding-top: 8px;
          padding-bottom: 8px;
          text-align: center;
          font-size: 0.6rem;
          line-height: 1.5;
          font-weight: lighter;
          color: #gris;
          position: relative;
          bottom: 40px;
          left: 8.4px; }
          .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__texto .ParticipantesSN__titulo {
            font-size: 1rem;
            letter-spacing: 2px;
            font-weight: normal;
            color: #646467; }
          .ParticipantesSN .ParticipantesSN__grid .ParticipantesSN__cajas .ParticipantesSN__texto .ParticipantesSN__titulo--CdC {
            letter-spacing: 0.8px; }
  /* RECURSOS */
  .TituloRecursos {
    font-size: 0.8rem; }
    .TituloRecursos p {
      width: 95%; }
  .descarga__conteiner {
    grid-template-columns: 1fr;
    grid-template-areas: "caja"; }
    .descarga__conteiner .descarga__conteiner--regdin {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "caja caja"; }
    .descarga__conteiner .descarga__ImagenRegDin {
      display: none; }
    .descarga__conteiner .descarga__CajaRegDin {
      width: 400px; }
    .descarga__conteiner .descarga__ImagenTopicos {
      display: none; }
    .descarga__conteiner .descarga__CajaTopicos {
      width: 300px; }
      .descarga__conteiner .descarga__CajaTopicos .descarga__CajaTopicos--width {
        width: 100px; }
      .descarga__conteiner .descarga__CajaTopicos .descarga__Topicos {
        font-size: 1rem; }
  .btn-reg {
    font-size: 1rem;
    padding: 5px 10px; }
  .btn-din {
    font-size: 1rem;
    padding: 5px 10px; }
  .btn-topico {
    font-size: 1rem;
    padding: 5px 10px; }
  /*CONTACTO*/
  .contacto {
    margin-bottom: 30px; }
    .contacto .contacto__conteiner .contacto__caja {
      flex-direction: column; }
      .contacto .contacto__conteiner .contacto__caja .contacto__mapa .contacto__MapaUbicacion {
        display: none; }
      .contacto .contacto__conteiner .contacto__caja .contacto__mapa .contacto__MapaUbicacion--chico {
        visibility: visible; }
  .datos {
    margin-bottom: 20px; }
    .datos .datos__conteiner .datos__caja {
      flex-direction: column;
      width: 90%; }
      .datos .datos__conteiner .datos__caja .datos__informacion {
        align-items: center;
        flex-direction: row; }
        .datos .datos__conteiner .datos__caja .datos__informacion div {
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 10px;
          padding-left: 10px; } }
