
body { margin-right: 0px; 
		margin-left: 0px; 
		font-size: 62.5% }

/*PARTICIPANTES*/

#nav-pag-part {
	background-color: #E15829;
	color: white;
	border-radius: 5px;
	font-size: 1.2rem;
	font-family: Gotham, Helvetica, Verdana, Sans Serif; 
	transition: 0.5s;
	margin: 5px;
	text-align: center;
}

#nav-pag-part:hover {
	background-color: white;
	color: #E15829;
}



/*delegados*/

.DELEGADOS { display: grid;
				grid-template-rows: 1fr 3fr 1fr 3fr;
				grid-template-columns: 1fr 3fr;
				grid-template-areas: 
				"foto TituloUno"
				"foto TextoUno"
				"foto TituloDos"
				"foto TextoDos";
				justify-items: center;
				height: 400px; }


#FotoDel { grid-area: foto }
#Titulo1D { grid-area: TituloUno }
#Texto1D { grid-area: TextoUno }
#Titulo2D { grid-area: TituloDos }
#Texto2D { grid-area: TextoDos }

.CajaEncabezado { display: inline-block;  }
.ImagenEncabezado { opacity: 85%; }
.TituloEncabezado { display: flex;
					position: relative;
					font-size: 2rem;
					font-weight: bold;
					letter-spacing: 5px;
					color: white;
					bottom: 220px ;
					justify-content: center; }

.Titulo1D { color: #A02140; 
			font-weight: bold; 
			font-size: 2rem;
			text-align: center;
			padding-top: 20px; }

.Texto1D { color: #646467; 
			font-size: 1.4rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 0px; }

.Titulo2D { color: #A02140; 
			font-weight: bold; 
			font-size: 2rem;
			text-align: center;
			padding-top: 0px; }

.Texto2D { color: #646467; 
			font-size: 1.4rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 0px; }


.Titulo3D { color: #A02140;
			font-weight: bold; 
			font-size: 2rem;
			text-align: center; }

.CajaRoles1 { display: flex;
				justify-content: center; }

.CajaRoles2 { width: 80%;
				display: flex;
				flex-direction: row;
				justify-content: space-around; }

.RolesDel { font-size: 1.5rem;
			color: #646467; }

.ImgRoles { text-align: center; }

.ImgRoles img { width: 80px;
				height: 200px; }

#embajador { width: 100px;
			height: 200px; }

/*autoridades*/

.AUTORIDADES { display: grid;
				grid-template-rows: 1fr 3fr;
				grid-template-columns: 1fr 3fr;
				grid-template-areas: 
				"video TituloUno"
				"video TextoUno";
				justify-items: center;
				height: 270px; }

#VideoAut { grid-area: video }
#Titulo1A { grid-area: TituloUno }
#Texto1A { grid-area: TextoUno }

.Titulo1A { font-size: 2rem;
			font-weight: bold;
			color: #A02140;
			padding-top: 20px; }

.Texto1A { color: #646467; 
			font-size: 1.2rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 20px; }

.Titulo2A { color: #A02140;
			font-size: 2rem;
			font-weight: bold;
			text-align: center; }

.Encuesta1A { font-size: 1rem;
				color: #646467; }

.TituloEncuestaA { font-size: 1.2rem;
					font-weight: bold;
					text-align: center;
					letter-spacing: 2px; }

.FormularioA { display: flex;
				flex-direction: row;
				justify-content: space-around; }

.SubFormularioA { display: inline-block;
					margin: 2px 15px }

.FormAutoridades { display: flex;
					justify-content: center; }

.form-row { width: 90%; }


/*docentes*/

.DOCENTES { display: grid;
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-columns: 1fr 3fr 1fr;
				grid-template-areas: 
				"foto titulo titulo"
				"foto TextoUno FotoUno"
				"foto TextoDos FotoDos";
				justify-items:center;
				height: 400px; }

#FotoDoc { grid-area: foto }
#Titulo1DI { grid-area: titulo }
#Texto1DI { grid-area: TextoUno }
#FotoEsc { grid-area: FotoUno }
#Texto2DI { grid-area: TextoDos }
#FotoProfes { grid-area: FotoDos }

.Titulo1I { font-size: 1.8rem;
			font-weight: bold;
			color: #A02140;
			padding-top: 20px; }

.Texto1I { color: #646467;
			font-size: 1.1rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 30px; }

.ImgEscuela { padding-top: 30px; }

.Texto2I { color: #646467;
			font-size: 1.1rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 40px; }

.ImgProfes { padding-top: 40px; }

.FormDocentes { display: flex;
				flex-direction: column;
				align-items: center; }

.FormDocentes div { width: 85%;
					padding: 10px 0px;
					display: flex;
					justify-content: center; }

/*voluntarios*/

.VOLUNTARIOS { display: grid;
				grid-template-rows: 1fr 2fr 2fr;
				grid-template-columns: 1fr 3fr;
				grid-template-areas: 
				"foto TituloUno"
				"foto TextoUno"
				"foto roles";
				justify-items: center;
				height: 400px; }

#FotoVol { grid-area: foto }
#Titulo1V { grid-area: TituloUno }
#Texto1V { grid-area: TextoUno }
#RolesV { grid-area: roles }

.Titulo1V { font-size: 2rem;
			font-weight: bold;
			color: #A02140 }

.Texto1V { color: #646467;
			font-size: 1.4rem;
			text-align: center;
			line-height: 1.6; }

.CajaRolesV { display: inline-flex;
				flex-direction: row;
				width: 850px;
				justify-content: space-between;
				text-align: center;
				padding-top: 30px }

.CajaRoles2V { padding: 12px 30px; border: solid; }
#Capacitadores { background-color: #73A950; }
#Logistica { background-color: #61B4E4; }
#Prensa { background-color: #FFB819; }

.TituloRolesV { font-size: 1.5rem;
				font-weight: bold;
				letter-spacing: 2px;
				color: white; }

.TextoRolesV { font-size: 1rem;
				line-height: 1.6;
				color: white; }

/*MEDIA QUERIES*/

@media screen and (max-width: 576px) {

	/*delegados*/

.DELEGADOS { display: flex;
				flex-direction: column;
				justify-items: center;
				height: 400px; }


#FotoDel { grid-area: foto }
#Titulo1D { grid-area: TituloUno }
#Texto1D { grid-area: TextoUno }
#Titulo2D { grid-area: TituloDos }
#Texto2D { grid-area: TextoDos }

.CajaEncabezado { display: inline-block; }
.ImagenEncabezado { opacity: 85%;
					display: none; }
.TituloEncabezado { display: flex;
					position: relative;
					font-size: 2rem;
					font-weight: bold;
					letter-spacing: 5px;
					color: #646467;
					bottom: 0px ;
					justify-content: center; }

.Titulo1D { color: #A02140; 
			font-weight: bold; 
			font-size: 1.5rem;
			text-align: center;
			padding-top: 20px; }

.Texto1D { display: flex;
			justify-content: center;
			color: #646467; 
			font-size: 1rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 0px; }

.Texto1D p { width: 90%; }

.Titulo2D { color: #A02140; 
			font-weight: bold; 
			font-size: 1.5rem;
			text-align: center;
			padding-top: 20px; }

.Texto2D { display: flex;
			justify-content: center;
			color: #646467; 
			font-size: 1rem;
			text-align: center;
			line-height: 1.6;
			padding-top: 0px; }

.Texto2D p { width: 90%; }


.Titulo3D { color: #A02140;
			font-weight: bold; 
			font-size: 1.4rem;
			text-align: center;
			margin-top: 50px; }

.CajaRoles1 { display: flex;
				justify-content: center; }

.CajaRoles2 { width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				grid-template-areas: 
				"sti ag"
				"cs cs";
				text-align: center; }

#STI { grid-area: sti }
#AG { grid-area: ag }
#CS { grid-area: cs ;
		margin-top: 20px;}

.RolesDel { font-size: 1rem; 
			color: #646467; }

.ImgRoles { text-align: center; }

.ImgRoles img { width: 60px; 
				height: 150px; }

#embajador { width: 75px;
				height: 150px; }


/*autoridades*/

.AUTORIDADES { display: flex;
				flex-direction: column;
				text-align: center;
				height: 650px; }

video { width: 100%; }

.Titulo1A { font-size: 1.5rem;
			padding-top: 20px; }

.Texto1A { display: flex;
			justify-content: center;
			font-size: 1rem;
			padding-top: 20px; }

.Texto1A p { width: 90%; }

.Titulo2A { font-size: 1.6rem;}

.Encuesta1A { font-size: 1rem;
				color: #646467; }

.TituloEncuestaA { font-size: 1.2rem; }

/*docentes*/

.DOCENTES { display: flex;
			flex-direction: column;
				justify-content: center;
				height: 700px; }

.Titulo1I { font-size: 1.5rem;
			padding-top: 20px;
			text-align: center; }

.Texto1I { font-size: 1rem;
			padding-top: 30px;
			display: flex; 
			justify-content: center; }

.Texto1I p { width: 90%; }

.ImgEscuela { display: none; }

.Texto2I { font-size: 1rem;
			padding-top: 20px;
			display: flex;
			justify-content: center; }

.Texto2I p { width: 90%; }

.ImgProfes { display: none; }


/*voluntarios*/

.VOLUNTARIOS { display: flex;
				flex-direction: column;
				justify-content: center;
				height: 300px; }

.Titulo1V { font-size: 1.5rem;
			text-align: center; }

.Texto1V { color: #646467;
			font-size: 1rem;
			text-align: center;
			line-height: 1.6; 
			display: flex;
			justify-content: center; }

.Texto1V p { width: 90%; }

.CajaRolesV {	flex-direction: column;
				width: 100%;
				text-align: center;
				padding-top: 10px; }

.CajaRoles2V { padding: 10px 0px; }

.TituloRolesV { font-size: 1rem; }

.TextoRolesV { font-size: 0.8rem;
				display: flex;
				justify-content: center; }

.TextoRolesV p { width: 80%; }

}



