header { 
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	.LogoWeb {
		margin-bottom: 30px;
	}
}



.navbar-nav {
	font-family: Gotham, Helvetica, Verdana, Sans Serif; 
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-size: 1.5rem;
}

#nav-pag {
	color: $verde;
	text-decoration-line: none;
	transition: 0.5s;
}

#nav-pag:hover {
	color: $bordo;
	text-decoration-line: none; 
}

#nav-pag-active {
	color: $bordo;
	font-weight: bold;
	text-decoration-line: none; 
}

#nav-pag-active:hover {
	color: $bordo;
	text-decoration-line: none; 
}